<% if @current_item == line_item %>
<tr id="current-item">
<% else %>
<tr>
<% end %>  
  <td><%= line_item.quantity %> &times;</td>
  <td><%= truncate(line_item.product.title, length: 20) %></td>
  <td class="item_price"><%= number_to_currency(line_item.total_price) %></td>
</tr>